name: CI/CD Pipeline for Node.js Retail App

on:
  push:
    branches:
      - dev
      - main
  pull_request:
    branches:
      - main

jobs:
  ci-test:
    name: CI - Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm install

      - name: Run unit tests
        run: npm test

  cd-docker:
    name: CD - Build Docker Image
    needs: ci-test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t retail-nodejs-app:latest .
